<head>
  <link rel="stylesheet" href="/stylesheets/header.css">
</head>

<header>


    <div id="containerHeader">

      <a href="/home"><img src="/images/blue-shark-logo.png" alt="img"></a>

      <div class="pesquisaOpcoes">

        <form>
          <input id="barraDePesquisa" placeholder="Pesquise o seu produto..." type="text">
        </form>

        <p class="linhaCategoria"></p>
      
        <ol class="opcoes">

          <li><a id="ofertas">Ofertas do dia</a></li>
          <li><a href="/cadastro/produto">Vender</a></li>
          <li><a href="/contato">Contato</a></li>
          <li><a href="https://api.whatsapp.com/send?phone=5511958752424">SharkxGames</a></li>

        </ol>

      </div>
 
      <a href="/login" class="informeCep">
        
        <span>NEW</span>

        <p class="informe">informe seu</p>

        <p>CEP</p>
  
      </a>

      <div class="perfil">

        <a href="https://www.disneyplus.com/pt-br?cid=DSS-Search-Google-71700000075038498-&s_kwcid=AL!8468!3!546262373719!e!!g!!disney&gclid=CjwKCAiAyPyQBhB6EiwAFUuakt-GeATONtGvNYEtv5vhUQDnlDwejivoFuJKY7B6FAwHiSb1H1HrxBoC1X8QAvD_BwE&gclsrc=aw.ds" target="_blank">
          <img id="barraCadastro" src="/images/D_NQ_896114-MLA47305080821_082021-OO.webp" alt="disney">
        </a>
        

        <ol id="cadastroEperfil">

          <li><a href="/conta">Conta</a></li>
          <li><a href="/login">Login</a></li>
        
        </ol>

      </div>

    </div>
    <script src="/js/header.js"></script>
  </header>