<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shark X | item</title>
    <link rel="stylesheet" href="/stylesheets/cadastroProduto.css">
    <%- include('./partials/linkBootstrap') %>
</head>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="cadProduto">
            <form action="/cadastro/produto" method="post" enctype="multipart/form-data">
                <div>
                    <label for="nome">Nome do produto:</label>
                        <input type="text" id="nome" name="nome">
                </div>
                <div>
                    <label for="preco">Valor:</label>
                        <input type="text" id="preco" name="preco">
                </div>
                <div>

                    <label for="desconto">desconto:</label>
                        <input type="text" id="desconto" name="desconto">
                </div>
                
                <div>
                    <label for="descricao">Descrição:</label>
                        <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>
                </div>

                <label for="files" id="total"><img src="/images/blue-shark-logo.png" alt=""></label>
                <input type="file" id="files" name="img" accept=".jpg, .jpeg, .png"/>

                <button type="submit" id="sub">Vender</button>
            </form>
        </div>
    </main>
     
    <%- include('./partials/footer') %>
    <script src="/js/cadastroProduto.js"></script>
</body>

</html> 