<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shark</title>
    <%- include('./partials/linkBootstrap') %>
    <link rel="stylesheet" href="/stylesheets/contato.css">
</head>

<body>
    <%- include('./partials/header') %>

    <main>
        <div>

            <form action="">
                <label for="help">
                    <h1>Como podemos ajudar?</h1>
                </label>
                <input type="text" id="help" name="help">
            </form>

            <div class="product">
                <section>
                    <div class="compras">
                        <h2>Compras</h2>
                        <ul>
                            <li>
                                <a href="">
                                    <div>
                                        <p>Minhas compras</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div>
                                        <p>Devoluções e reembolso</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div>
                                        <p>Faça uma pergunda</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <div class="vendas">
                        <h2>Vendas</h2>
                        <ul>
                            <li>
                                <a href="">
                                    <div>
                                        <p>Minha reputação</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div>
                                        <p>Gerenciamento de anúncios</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div>
                                        <p>Faça uma pergunda</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>

            <section>
                <div class="registros">
                    <h2>Registro</h2>
                    <ul>
                        <li>
                            <a href="">
                                <div>
                                    <p>Configuração do meu registro na Shark Games</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>
                                    <p>Devoluções e reembolso</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
    </main>
    
    <%- include('./partials/footer') %>
</body>

</html> 