<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    
      <main>
          <section class="form-section">
            <h1>Entre em sua conta</h1>
      
            <div class="form-wrapper">
              <form action="/login" method="post" autocomplete="off">

                <% if(typeof(erros) != 'undefined') { %> 
                  <style>
                    .form-wrapper form {
                      height: 430px;
                    }
                    .first {
                      margin-top: 20px;
                    }
                  </style>
                  <div>
                    <ul>
                      <p>Erros:</p>
                      <li>Email ou senha incorretos</li>
                    </ul>
                  </div>
                <% } %> 
                
                <div class="input-block first">
                  <label for="login-email">Email</label>
                  <input type="email" name="email" id="login-email" value="" />
                </div>
                <div class="input-block">
                  <label for="login-password">senha</label>
                  <input type="password" name="senha" id="login-password" value=""/>
                </div>
                <div class="input-coockie">
                  <input type="checkbox" name="cock" id="cock">
                  <label for="cock">Lembre de mim</label>
                </div>
                <button type="submit" class="btn-login">Login</button>
                <nav>
                    <ul>
                        <li>
                            <a href="/cadastro">Não tem uma conta? Cadastre-se!</a>
                        </li>
                        <li>
                            <a href="/contato/senha">Esqueci minha senha</a>
                        </li>
                    </ul>
                </nav>
            </form>
            </div>
          </section>
      </main>

      <%- include('./partials/footer') %>

    <script src="/js/login.js"></script>
  </body>
</html>
