<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/idError.css">
    <%- include('./partials/linkBootstrap') %> 
    <title>Error</title>

</head>
<body>



    <div class="d-flex justify-content-center align-items-center">

        <div id="separarText">

            <h2>Sua compra foi realizada com sucesso!!</h2>
            <h5>sucess: 201</h5>
            <strong>Retornar para <a href="/home">www.sharkxgames.com</a></strong>

        </div>

        <div id="divImg">
            <img src="../../images/blue-shark-logo.png" alt="img" >
        </div>
    
    </div>


  
</body>
</html>