<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuda</title>
    <%- include('./partials/linkBootstrap') %>
    <link rel="stylesheet" href="/stylesheets/termos.css">
</head>

<body>
    <%- include('./partials/header') %>

    <main>  
        <div class="containerMain">
            <form action="">
                <input type="text" id="help" name="help" placeholder="Como podemos ajudar?  ">
                <button type="submit">Buscar</button>
            </form>
            <div class="space">
                <h1>Termos e condições gerais do uso do site</h1>
                <div>
                    <p>Última modificação: 16/01/22</p>
                    <h2>Sumário do contrato da Shark Games</h2>
                    <p>Ao Usuário da Shark Games,</p>
                    <p>Obrigado por dedicar este tempo para ler o Sumário do contrato da Shark Games.</p>
                    <p>Estas informações o ajudarão a operar na nossa plataforma de anúncios. É muito importante que conheça as nossas políticas e, por esta razão, é necessário que leia e compreenda os Termos e condições gerais de uso do site, bem como a leitura das cláusulas que viabilizam a contratação e as limitativas de direitos, aqui destacadas:</p>
                    <ol class="terms">
                        <li>A Shark Games não é fornecedor de quaisquer produtos ou serviços anunciados no site. A Shark Games presta um serviço consistente na oferta de uma plataforma na internet que fornece espaços para que Usuários anunciantes/potenciais vendedores anunciem, oferecendo à venda, os seus próprios produtos e serviços para que eventuais interessados na compra dos itens, os Usuários /potenciais compradores, possam negociar direta e exclusivamente entre si;</li>
                        <li>Os Usuários anunciantes/potenciais vendedores somente poderão anunciar produtos ou serviços que possam vender e que tenham em estoque, estabelecendo diretamente os termos do anúncio e todas as suas características (como título, descrição e imagem dos bens, preço, categoria, quantidade, condições de venda, forma e prazo de entrega, além da forma de pagamento);</li>
                        <li>Para utilizar os serviços da Shark Games o Usuário deve aceitar, expressamente, a Política de Privacidade e Confidencialidade da Informação, que contém informações claras e completas sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos Usuários e visitantes da Shark Games. O Usuário deverá efetuar um cadastro único, criando um apelido e senha que são pessoais e intransferíveis. A Shark Games não se responsabiliza pelo uso inadequado e divulgação destes dados para terceiros. A Shark Games, nem quaisquer de seus empregados ou prepostos solicitará, por qualquer meio, físico ou eletrônico, que seja informada sua senha;</li>
                        <li>A Shark Games, em razão de violação à legislação em vigor ou aos Termos e condições gerais de uso da Shark Games, conforme a situação, poderá, sem prejuízo de outras medidas, recusar qualquer solicitação de cadastro, advertir, suspender, temporária ou definitivamente, a conta de um Usuário, seus anúncios ou aplicar uma sanção que impacte negativamente sua reputação;</li>
                        <li>Não é permitido anunciar produtos expressamente proibidos pela legislação vigente ou pelos Termos e condições gerais de uso do site, que não possuam a devida autorização específica de órgãos reguladores competentes, ou que violem direitos de terceiros;</li>
                        <li>A Shark Games disponibiliza um sistema para que o Usuário comprador opine sobre o Usuário vendedor com relação à negociação realizada. A opinião será disponibilizada no perfil do Usuário vendedor.</li>
                        <li>O Usuário/potencial comprador, antes de decidir pela compra, deverá atentar-se às informações sobre a reputação do Usuário vendedor, ao preço, às formas de pagamento, à disponibilidade, à forma e ao prazo de entrega dos produtos e serviços.</li>
                        <li><span id="docs-internal-guid-ea38f180-7fff-19de-2e30-3483f2e346c2">O Usuário comprador poderá exercer o direito de arrependimento dos produtos adquiridos pelo site <a href="/home">www.sharkgames.com.br</a>, dentro do prazo de 7 dias corridos a contar do recebimento. Esse prazo poderá se estender por até 30 dias, desde que cumpridos os requisitos do Programa Compra Garantida. Para isso, basta clicar na opção “Eu me arrependi desta compra”, que ficará disponível em cada negociação realizada, na lista de compras da conta do Usuário.</span></li>
                        <li>É vedado aos Usuários anunciar à venda ou comprar produtos que sejam proibidos ou violem a legislação vigente, bem como sejam considerados produtos proibidos pelo site.</li>
                        <li>A Shark Games firmou convênios e parcerias com diversas autoridades com o objetivo de promover e incentivar a solução amigável de controvérsias e evitar a judicialização de questões que podem ser resolvidas administrativamente, razão pela qual, os Usuários aceitam e se comprometem a utilizar as ferramentas da plataforma (reclamação/ mediação) como primeiro meio para a solução de controvérsias decorrentes das compras e vendas realizadas no site Shark Games. Os Usuários também poderão buscar a solução de controvérsias de consumo por meio do serviço <a href="http://www.consumidor.gov.br" target="_blank" rel="noopener">www.consumidor.gov.br</a>, mantido pela Secretaria Nacional do Consumidor (SENACON) do Ministério da Justiça e Segurança Pública, que é disponibilizado gratuitamente aos consumidores de todo o país.</li>
                    </ol>
                    <h2>Termos e condições gerais de uso do site</h2>
                    <p>Estes Termos e condições gerais aplicam-se ao uso dos serviços oferecidos pelo EBAZAR.COM.BR LTDA, empresa devidamente inscrita no CNPJ/MF sob o n° 03.007.331/0001-41, situada na Av. das Nações Unidas, nº 3.003, Bonfim, Osasco/SP, doravante nominada Shark Games, por meio dos sites www.sharkgames.com.br e www.arremate.com.br (“Sites”).</p>
                    <p>Qualquer pessoa, doravante nominada Usuário, que pretenda utilizar os serviços da Shark Games deverá aceitar os Termos e condições gerais e todas as demais políticas e princípios que o regem.</p>
                    <p><strong>A aceitação destes Termos e condições gerais é absolutamente indispensável à utilização dos Sites e serviços prestados pelA Shark Games.</strong></p>
                    <p><strong>O Usuário deverá ler, certificar-se de haver entendido e aceitar todas as condições estabelecidas nos Termos e condições gerais e nas Políticas de privacidade, assim como nos demais documentos a eles incorporados por referência, antes de seu cadastro como Usuário da Shark Games.</strong></p>
                    <p>Em caso de dúvidas, acesse <a href="/contato">Contato</a>.</p>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer') %>
</body>

</html> 