main {
    background-color: #565656;
}

.cadProduto {
    display: flex;
    padding: 50px 0 70px 60px;
}

.cadProduto form, .cadProduto form div {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.cadProduto form div input, textarea {
    border: 1px solid black;
    outline: none;
    background-color: #767885;
    color: rgb(36, 36, 36);
    border-radius: 7px;
    padding-left: 14px;
}

textarea {
    padding: 10px 14px
}

.cadProduto form div input {
    width: 1100px;
    height: 41px;
}

.cadProduto form div label {
    font-size: 23px;
    color: #cacdde;
    margin-bottom: 3px;
} 

.messagem {
    margin: 0px;
    margin-bottom: 2px;
}