main {
    background-color: #565656;
    padding: 38px 0 63px;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#help {
    width: 558px;
    height: 38px;
    background: #C4C4C4; 
    border: 1px solid #808080;
    box-sizing: border-box;
    margin-bottom: 22px;
    border: none;
    outline: none;
    padding-left: 10px;
    color: black;
}

h1 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 31px;
    color: #FFFFFF;
}

#help:hover {
    background-color: #bdbdbd;
    border: 2px solid #5f5f5f;
    transition: all 0.2s
}

#help:focus {
    background-color: #acacac;
    border: none;
}

.product {
    flex-direction: row;
    margin: 22px 0 18px;
}

.compras {
    width: 450px;
    height: 260px;
    background: #404040;
    border: 1px solid #000000;  
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 65px;
    margin-right: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 30px;
    color: #FFFFFF;
}

li a div {
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 10px;    
}

.compras li a div {
    width: 350px;
    height: 45px;
    background: #898989;
    border: 1px solid #000000;
    border-radius: 33px
}

.vendas {
    width: 400px;
    height: 260px;
    background: #404040;
    border: 1px solid #000000;  
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 65px;
    margin-left: 20px;
}

.vendas li a div {
    width: 305px;
    height: 45px;
    background: #898989;
    border: 1px solid #000000;
    border-radius: 33px
}

.registros {
    width: 970px;
    height: 206px;
    background: #404040;
    border: 1px solid #000000;  
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 65px;
    margin-top: 18px;
}

.registros li a div {
    width: 870px;
    height: 45px;
    background: #898989;
    border: 1px solid #000000;
    border-radius: 33px
}