@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  color: white;
}

body {
  margin: 0pc;
}

a {
    text-decoration: none;
}

/*HEADER*/
header { 
  width: 100%;
  height: 100px;
  background-color: #2c2e42;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}

#containerHeader {
  width: 1366px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 42px;
}

#containerHeader img {
  width: 130px; 
  margin-right: -35px;
}

#barraDePesquisa{
  width: 638px;
  height: 30px;
  background: #C4C4C4;
  opacity: 0.6;
  border: 1px solid #868686;
  border-radius: 15px;
  padding-left: 15px;
  color: black;
}

::placeholder {
  font-family: 'Monda', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: rgba(65, 65, 65, 0.79);
  position: relative;
  bottom: 1px;
}

#barraDePesquisa:hover {
  background-color: #bdbdbd;
  border: 2px solid #838383;
  transition: border 0.05s, background-color 1s;
}

.pesquisaOpcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linhaCategoria {
  width: 664px;
  height: 2px;
  background-color: #575968;
  margin-top: 9.5px;
  margin-bottom: 7.5px;
}

ol {
  list-style: none;
  display: flex;
}

.opcoes {
  width: 572px;
  height: 27px;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-left: 0px;
}

.opcoes > li {
  font-family: 'Monda', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.opcoes > li > a {
  font-family: 'Monda', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: white;
}

.opcoes > li > a:hover {
  color:rgb(207, 207, 207);
  transition: color 0.15s;
}

.informeCep {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informeCep > span {
  font-family: 'Pinyon Script', cursive;
  font-size: 36px;
  line-height: 45px;
}

.informeCep > .informe {
  font-size: 16px;
  line-height: 16px;
}

.informeCep > p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 21px;
}

.perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cadastroEperfil {
  width: 258px;
  height: 29px;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-top: 2.5px;
}

#cadastroEperfil > li {
  font-family: 'Monda', sans-serif;
  font-size: 18px;
  line-height: 29px;
}

#cadastroEperfil > li > a {
  font-family: 'Monda', sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: white;
}

#cadastroEperfil > li > a:hover {
  color:rgb(207, 207, 207);
  transition: color 0.15s;
}

#barraCadastro{
  width: 321px !important;
  height: 39px;
  margin-bottom: 2.5px;
  filter: hue-rotate(176deg) opacity(0.6);
}

#ofertas:hover {
  color:rgb(207, 207, 207);
  cursor: pointer;
  transition: color 0.15s;
}

#carouselExampleDark {
  width: auto
}

/*HEADER*/


@media (max-width: 1339px) {
  .informeCep {
    display: none;
  }
}

@media (max-width: 1247px) {
  #containerHeader {
    transform: scale(0.95);
    padding: 0px 20px;
  }
}

@media (max-width: 1199px) {
  #containerHeader {
    padding: 0px 15px;
  }
}

@media (max-width: 1186px) {
  #containerHeader {
    transform: scale(0.9);
    padding: 0px 0px;
  }
}

@media (max-width: 1139px) {
  #containerHeader {
    transform: scale(0.85);
    padding: 0px -10px;
  }
  #containerHeader img {
    margin-right: 0px;
  }
  .pesquisaOpcoes {
    margin: 0 35px;
  }
  .perfil {
    margin-left: 35px;
  }
}

@media (max-width: 1063px) {
  #containerHeader img {
    margin-right: -10px;
  }
  .pesquisaOpcoes {
    margin: 0 25px;
  }
  .perfil {
    margin-left: 25px;
  }
}

@media (max-width: 1063px) {
  #containerHeader img {
    margin-right: -15px;
  }
  .pesquisaOpcoes {
    margin: 0 20px;
  }
  .perfil {
    margin-left: 20px;
  }
}

@media (max-width: 1017px) {
  #containerHeader {
    transform: scale(0.8);
  }
  #containerHeader img {
    margin-right: -10px;
  }
  .pesquisaOpcoes {
    margin: 0 25px;
  }
  .perfil {
    margin-left: 25px;
  }
}

@media (max-width: 977px) {
  #containerHeader {
    transform: scale(0.8);
  }
  #containerHeader img {
    margin-right: -15px;
  }
  .pesquisaOpcoes {
    margin: 0 20px;
  }
  .perfil {
    margin-left: 20px;
  }
}

@media (max-width: 949px) {
  #containerHeader {
    transform: scale(0.75);
  }
  #containerHeader img {
    margin-right: -10px;
  }
  .pesquisaOpcoes {
    margin: 0 25px;
  }
  .perfil {
    margin-left: 25px;
  }
}

@media (max-width: 915px) {
  #containerHeader {
    transform: scale(0.75);
  }
  #containerHeader img {
    margin-right: -15px;
  }
  .pesquisaOpcoes {
    margin: 0 20px;
  }
  .perfil {
    margin-left: 20px;
  }
}

@media (max-width: 897px) {
  header {
    height: 97px;
  }

  #containerHeader {
    transform: scale(0.7);
  }
  #containerHeader img {
    margin-right: -10px;
  }
  .pesquisaOpcoes {
    margin: 0 25px;
  }
  .perfil {
    margin-left: 25px;
  }
}

@media (max-width: 840px) {
  #containerHeader {
    transform: scale(0.68);
  }
  #containerHeader img {
    margin-right: -15px;
  }
  .pesquisaOpcoes {
    margin: 0 20px;
  }
  .perfil {
    margin-left: 20px;
  }
}

@media (max-width: 799px) {
  #containerHeader {
    transform: scale(0.9);
  }
  .perfil {
    display: none;
  }
}

@media (max-width: 745px) {
  #containerHeader img {
    margin-right: -20px;
  }
}

@media (max-width: 732px) {
  #containerHeader {
    transform: scale(0.83);
  }
}

@media (max-width: 679px) {
  #containerHeader {
    transform: scale(0.8);
  }
}

@media (max-width: 650px) {
  #containerHeader {
    transform: scale(0.73)
  }
}

@media (max-width: 600px) {
  header {
    height: 95px
  }

  #containerHeader {
    height: 95px;
    font-size: 14px;
    transform: scale(0.8);
  }

  #containerHeader img {
    display: none;
  }

  #barraDePesquisa {
    height: 33px
  }
}

@media (max-width: 565px) {
  header {
    width: 100%;
  }

  #containerHeader {
    transform: scale(0.75);
  }
}