@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  color: white;
}

body {
  margin: 0pc;
}

main {
  background-color: #6C6C6C;
}

.blocoInforItem {
  background-color: #3B3C4B;
  width: 98%;
  border-radius:20px ;
  
}
 
.precoReal{
  color: #E15252;
  text-decoration: line-through;
  font-size: 30px;
  margin-bottom: 0px;
}

.precosComDesconto {
  color: #52DD58;
  font-size: 36px;
}

.adicionarAoCarrinho{
background-color: #4c5266;
width: 700px;
height: 122.59px;
border-radius: 12px;
border: #1c1b1b 1px solid;
}

.adicionarAoCarrinho:hover {
  background: #454c63;
  transform: scale(1.01);
  transition: all 0.15s
}

.adicionarAoCarrinho:active {
  background: #40475c;
  transition: all 0.15s
}

.imagemCarrinho{
margin: 30px;
}



#linha {
border-right: #828282 solid 1px;
margin-right: 30px;
}

#carrinhoSuperior{
  font-size: 24px;
  margin: 0
}

.botaoCarrinhoSuperior{
  width: 200px;
  height: 64px;
  background-color: #466655;
  border-radius: 15px;
  border: #0e2c0b 1px solid;
  padding: 0 28px
}

.botaoCarrinhoSuperior:hover {
  background-color: #3e5f4c;
  border: #081f06 1px solid;
  transform: scale(1.02);
  transition: all 0.15s
}

.botaoCarrinhoSuperior:active {
  background-color: #385343;
  transition: all 0.15s
}

li {
list-style: none;
}

.tituloDoProduto{
font-size: 25px;
color: #377EFA;
}

.subtitulo{
font-size: 15px;
text-transform: bold;
}

hr{
border: 1px black solid;
}

.buttonEstrela{
border: none;
outline: none;
background-color: transparent;
}

.comentarios {
width: 95%;
height: 177px;
margin: 20px 0;
background-color: #72757B;
}

.espacoItem{
margin: 10px;
}

.adicionarComentarios{
width: 90%;
background-color: transparent;
border: none ;
border-bottom: #68D5F8 1px solid;
outline: none;
margin-left: 20px
}

.btnVenda {
  align-items: end;
  justify-content: space-between;
  margin: 30px 30px 0 60px;
}

.ppreco {
  margin-top: 25px
}

.btnCarrinho {
  align-items: center;
  justify-content: space-between;
}

.btnVenda h5 {
  color: #8898ad;
  margin: 0;
}

.ppreco h2 {
  padding: 0 55px;
  color: #d68e8e;
}

.informacacoesDoProduto {
  padding: 0 40px; 
}

#especificacoes {
  margin-bottom: 20px;
  padding: 0 40px;
}

.espec {
  margin: 30px 0;
}

.addUp {
  justify-content: center;
  margin: 10px 0;
}

.conteudo {
  align-items: end;
  justify-content: space-between;
  margin: 40px;
}

.coment {
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.wpp {
  display: flex;
}

.wpp img {
  width: 25px;
  margin-left: 10px;
}