* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
main {
  height: 91vh;
}

main {
  background-color: #4e495e;
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1.4);
}

.form-section h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white;
}

.form-section form {
  margin: 20px 0;
  background-color: white;
  padding: 30px 25px 16px;
  border-radius: 5px;
  width: 390px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-section form .input-block {
  margin-bottom: 14px;
}

.form-section form .input-block label {
  font-size: 14px;
  color: darkslateblue;
}

.form-section form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #644dae;
  border-radius: 2px;
  border: 1px solid #b29cd1;
}

.form-section form .input-block input:focus {
  border: 2px solid #7159c1;
  outline: 2px solid #7159c1;
  transition: all 0.15s
}


.input-coockie {
    margin-left: 5px
}

.input-coockie label {
    font-size: 13px;
    color: #4c447d
}

.form-section form .btn-login {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #7159c1;
  color: white;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 26px;
  padding: 7px;
  cursor: pointer;
}

.form-section form .btn-login:hover {
  background-color: #654db3;
  transition: all 0.1s
}

.form-section form .btn-login:active {
  background-color: #58439d;
  transition: all 0.13s
}

.form-wrapper nav li {
    list-style: none;
}

.form-wrapper nav a {
    font-size: 12px;
    color: rgb(111, 24, 199);
}

.form-wrapper nav a:hover {
    color: rgb(85, 21, 150);
}

.form-wrapper nav a:active {
    color: rgb(53, 9, 97);
    transition: all 0.15s
}

.form-wrapper nav ul {
    display: flex;
    justify-content: space-between;
}

.form-wrapper div ul {
  background-color: rgb(255, 217, 217);
  border-radius: 6px;
  padding: 20px 50px;
}

.form-wrapper div ul p{
  color: rgb(248, 60, 60); font-weight: bold;
  margin-left: -30px;
  margin-bottom: 7px;
}

.form-wrapper div ul li{
  color: rgb(248, 60, 60);
}