* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
main {
  height: 91vh;
}

.form-section, main {
  display: flex;
  align-items: center;
}

main {
  background-color: #4e495e;
  font-family: Roboto, Arial, sans-serif;
  justify-content: center;
}

.form-section {
  flex-direction: column;
}

main h1, main h2 {
  font-weight: bold;
}

main h1 {
  font-size: 100px;
}

main h2 {
  font-size: 80px;
}