@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  color: white;
}

body {
  margin: 0pc;
}

#btnCompra {
  margin-top: 35px;
  background-color: #419417;
  color: white;
  width: 210px;
  height: 52.31px;
  font-size: 21px;
  border-radius: 23px;
  outline: none;
  border: none;
}

#btnCompra:hover {
  background-color: #398015;
  transform: scale(1.02);
  transition: all 0.15s
}

#btnCompra:active {
  background-color: #347414;
  transform: scale(1);
  transition: all 0.15s
}