@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  color: white;
}

body {
  margin: 0pc;
}


main {
  background-color: #626262;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

#carouselExampleDark{
  background-color: white;
  width: 1100px;
}

#carouselExampleIndicators {
  width: 1349px; 
  height: 400px;
}

.descontoCarrosel {
  color: black;
}

#separamentoCarrosel {
  margin-top: 75px;
  margin-bottom: 120px;
}

h1 {
  margin-left: 13px;    
  color: #edefff;
  font-size: 38px;
}

.caixa {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 25%); 
  margin: 17px 15px;
  border-radius: 6px;
  height: 412px
}

.caixa:hover {
  filter: drop-shadow(0px 0px 3px #000000);
  transition: 0.2s; 
}

.separarLinhasDeCaixas {
  display: flex;
  flex-wrap: wrap;
}

.produtoNome {
  color: #eaeaea;
  width: 162px;
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 9px;
}


.precosComDesconto{
  font-size: 28px;
  line-height: 33px;
  color: #52DD58;
}

.precos {
  background: #3c3c3c;
  padding: 10px 20px 18px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200.8px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.precoReal {
  margin-top: 9px;
  margin-bottom: 2.5px;
  font-size: 12px;
  line-height: 14px;
  color: #E15252;
  text-decoration: line-through;
}

.desconto {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #9efd8e;
}

.frete {
  margin-top: 15px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #D6D040;
}

.juros {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #DAFF71;
}


.caixa > img {
  width: 200.82px;
  height: 215.32px;
  position: relative;
  z-index: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
 

@media (max-width: 1351px) {
  #carouselExampleIndicators {
    width: 100%;
  }
}