<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/idError.css">
    <%- include('../partials/linkBootstrap') %> 
    <title>gg</title>

</head>
<body>



    <div class="d-flex justify-content-center">

        <div id="separarText">

            <p>Infelizmente o id <i> <%= id %> </i> não existe !,  <strong>Retornar para a <a href="/home">home</a>  </strong></p>

        </div>

        <div id="divImg">
            <img src="../../images/blue-shark-logo.png" alt="img" >
        </div>
    
    </div>


  
</body>
</html>